<h1>Workout Show Page</h1>

<%= link_to "Home", workouts_path %>


<h3>Title: <%= @workout.title %></h3>
<h3>Created by: <%= link_to "#{@workout.user.username}", user_path(@workout.user) %></h3><br />
<h4>Category: <%= Category.find_by_id(@workout.category_id).title %></h4>
  <% @workout.exercises.each do |exercise| %>
    <ul>
      <li><%= exercise.name %></li>
      <ul>
        <% exercise.numsets.each do |set| %>
        <li>Sets: <%= set.number %></li>
        <% end %>
        <% exercise.reps.each do |rep| %>
          <li>Reps: <%= rep.number %></li>
        <% end %>
      </ul>
    </ul>

  <% end %> <br>


  <%= link_to "Edit #{@workout.title}", edit_workout_path(@workout) %><br><br>
  <%= link_to "Delete #{@workout.title}", workout_path(@workout), method: :delete %>
