<h1>Workout Show Page</h1>
<div class="workout-show">
<h3>Workout Title: <%= @workout.title %></h3>
<h3>Created by: <%= link_to "#{@workout.user.username}", user_path(@workout.user) %></h3>
<h3>Category: <%= link_to @workout.category.title, category_path(@workout.category_id) %></h3>
<h3>Exercises:</h3>
  <% @workout.exercises.each do |exercise| %>
    <ul>
      <h4><li><%= exercise.name %></li></h4>
      <ul>
        <% exercise.numsets.each do |set| %>
        <li>Sets: <%= set.number %></li>
        <% end %>
        <% exercise.reps.each do |rep| %>
          <li>Reps: <%= rep.number %></li>
        <% end %>
      </ul>
    </ul>

  <% end %> <br>


  <%= link_to "Edit #{@workout.title}", edit_workout_path(@workout) %> &nbsp|&nbsp
  <%= link_to "Delete #{@workout.title}", workout_path(@workout), method: :delete %>
</div>
