<h1>Workout Show Page</h1>

<%= link_to "Home", workouts_path %>


<h3><%= @workout.title %></h3>
<h4>Category: <%= Category.find_by_id(@workout.category_id).title %></h4>
  <% @workout.exercises.each do |exercise| %>
    <ul>
      <li><%= exercise.name %></li>
      <ul>
        <li>Sets: <%= exercise.numsets %></li>
        <li>Reps: <%= exercise.reps %></li>
        <!-- <% exercise.numsets.each do |set| %>
        <ul>
          <li>Should be sets<%= set %></li>
        </ul>
          <% end %> -->
      </ul>
    </ul>
    <% exercise.reps.each do |rep| %>
      <%= rep %>
    <% end %>
  <% end %> <br>


  <%= link_to "Edit #{@workout.title}", edit_workout_path(@workout) %><br><br>
  <%= link_to "Delete #{@workout.title}", workout_path(@workout), method: :delete %>
